@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.swiper-slide {
  width: 200px !important;
  height: 200px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (max-width: 640px) {
  .swiper-slide {
    width: 120px !important;
    height: 120px !important;
  }
}
